@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Ahorcado</h2>

    <div class="div-palabra-a-adivinar"></div>

    <div class="grafico-ahorcado"></div>

    <div class="lista-letras-ingresadas"></div>

    <div class="inicio-juego">
        <p>Presiones el boton para iniciar la partida</p>
        <button type="button">Iniciar Partida!</button>
    </div>

    <div class="controles">
        <p>Ingrese una letra</p>
        <input type="text" class="input-letra" />
        <button type="button">Intentar!</button>
    </div>
</div>
